{% for autor in autores %}

  <div class="autores-linha-autor">

    {% include "bibm/partials/autoresDetailNome.html" %}
    {% include "bibm/partials/autoresEditar.html" %}

  </div>

  {% if autor.id == autor_id_livro %}
    <div class="paragrafo">
      <span class="autores-regiao-abaixo-nome paragrafo">{{autor.regiao.regiao}}</span>
    </div>

    {% include "bibm/partials/autoresDetailLivro.html" %}

    {% if autor.comentario %}
      <div class="autores-comentario">{{autor.comentario}}</div>
    {% endif %}
  {% endif %}

{% empty %}
Sem resultados
{% endfor %}
