<div class="autores-livros-box paragrafo">
  {% for livro, endereco in livros %}

    <a 
      href="{% url "bibm:meus_livros" "todos" "adicao" %}?q={{livro}}" 
      class="autores-titulo-livro paragrafo"
    >
      - {{livro}}
      {% if endereco %}
      - {{endereco}}
      {% endif %}
    </a>
    {% comment %} <span class="autores-titulo-livro paragrafo">
    </span> {% endcomment %}

  {% empty %}
  <span class="autores-titulo-livro paragrafo">
    Sem livros
  </span>
  {% endfor %}
</div>