{% for autor in autores %}

  <div class="autores-linha-autor">

    {% include "bibm/partials/autoresDetailNome.html" %}
    {% include "bibm/partials/autoresEditar.html" %}

  </div>

  {% if autor.id == autor_id_livro %}
    <div class="paragrafo flex-flow-row autores-regiao-linha">
      Região:<span class="autores-regiao-abaixo-nome">{{autor.regiao.regiao}}</span>
    </div>
	
	  {% if quantos_livros == 1 %}
	  <span class="generos-livro-titulo paragrafo quantos_livros">1 livro.</span>
	  {% else %}
	  <span class="generos-livro-titulo paragrafo quantos_livros">{{quantos_livros}} livros.</span>
	  {% endif %}


    {% include "bibm/partials/autoresDetailLivro.html" %}

    {% if autor.comentario %}
      <div class="autores-comentario">{{autor.comentario}}</div>
    {% endif %}
  {% endif %}

{% empty %}
Sem resultados
{% endfor %}
