<div class="botoes-filtro-box">
	<div class="decoracao-linha-filtros-acima"></div>
	<span>Filtros</span>
	<div class="filtros-linha">
		{% for fil_chave, fil_valor in filtros.items %}
			{% if filtro == fil_chave %}
			<span class="{{classe_btn}}-estatico">
				{{fil_valor}}
			</span>
			{% else %}
			<span class="btn-medio {{classe_btn}}">
				{% if caller == "meus_livros" %}
				<a href="{% url 'bibm:meus_livros' fil_chave %}">
				{% elif caller == "editar_planejamento" %}
				<a href="{% url 'bibm:editar_planejamento' fil_chave %}">
				{% elif caller == "minhas_anotacoes" %}
				<a href="{% url 'bibm:minhas_anotacoes' fil_chave %}">
					{% endif %}
					{{fil_valor}}
				</a>
			</span>
			{% endif %}
		{% endfor %}
	</div>
	<div class="filtros-linha ordem-alfabetica">
		{% include "bibm/partials/ordemAlfabeticaFiltro.html" %}
	</div>
	<div class="decoracao-linha-filtros-abaixo"></div>
</div>