<div class="opcoes-meumeu">
	<div class="meumeu-opc-coluna meumeu-coluna-2">
		<div class="opc-meumeu opc-infla"><a href="{% url 'bibm:add_um_livro' %}">Adicionar um Livro</a></div>
		<div class="opc-meumeu opc-infla"><a href="{% url 'bibm:mapa_da_bibli' %}">Mapa da Bibli</a></div>
		<div class="opc-meumeu opc-infla"><a href="{% url "bibm:historico" %}">Histórico</a></div>
	</div>
	<div class="meumeu-opc-coluna meumeu-coluna-3">
		<div class="opc-meumeu opc-infla"><a href="{% url "bibm:autores" "sobrenome" %}">Autores</a></div>
		<div class="opc-meumeu opc-infla"><a href="{% url "bibm:generos" %}">Gêneros</a></div>
		<div class="opc-meumeu opc-infla"><a href="{% url 'bibm:regioes' %}">Regiões</a></div>
	</div>
	<div class="meumeu-opc-coluna meumeu-coluna-1">
		<div class="opc-meumeu opc-infla"><a href="{% url 'bibm:meus_livros' 'todos' 'adicao' %}">Meus Livros</a></div>
		<div class="opc-meumeu opc-infla"><a href="{% url 'bibm:editar_planejamento' 'naolidos' 'adicao' %}">Meu Planejamento</a></div>
		<div class="opc-meumeu opc-infla"><a href="{% url "bibm:minhas_anotacoes" "lidos" %}">Minhas Anotações</a></div>
	</div>
</div>
