<span class="livro-lendo">
	{{ livro.titulo }}
	{% if livro.endereco.codigo %}
	<span class="endereco">endereço: {{ livro.endereco.codigo }}</span>
	{% endif %}
</span>
<div class="opcoes-livro-atual">
	<div class="opc-livro-atual">
		<form method="post" action="{% url 'bibm:pegar_este_livro'%}">
			{% csrf_token %}
			<input type="hidden" name="livro_id" value={{ livro.id }}>
			<input type="hidden" name="filtro" value={{ filtro }}>
			<button type="submit" class="btn-menu-grande btn-verde">Pegar este livro</button>
		</form>
	</div>
	<a href="{% url 'bibm:editar_planejamento' 'naolidos' ordem_padrao_livros %}">
	<div class="opc-livro-atual">
		<span class="btn-menu-grande btn-verde">
				Editar Planejamento
			</span>
		</div>
	</a>
	<div class="opc-livro-atual">
		<form method="post" action="{% url 'bibm:pular_este'%}">
			{% csrf_token %}
			<input type="hidden" name="livro_id" value={{ livro.id }}>
			<input type="hidden" name="filtro" value={{ filtro }}>
			<button type="submit" class="btn-menu-grande btn-verde">Pular Este</button>
		</form>
	</div>
</div>
