<span class="livro-lendo">
	Ainda não há planejamento
</span>
<div class="opcoes-livro-atual">

	<a class="opc-livro-atual" href="{% url "bibm:sortear_um_livro" %}">
		<div>
			<span class="btn-menu-grande btn-vermelho">
				Sortear um Livro
			</span>
		</div>
	</a>

	<a class="opc-livro-atual" href="{% url 'bibm:editar_planejamento' "naolidos" ordem_padrao_livros %}">
	<div>
		<span class="btn-menu-grande btn-vermelho">
				Editar Planejamento
			</span>
		</div>
	</a>
{% comment %} 
	<div class="opc-livro-atual">
		<span class="btn-menu-grande btn-vermelho">
			
		</span>
	</div> {% endcomment %}

</div>
