{% for letra in ordem_alfabetica_lista %}

  {% if caller == "meus_livros" %}

    {% with concat=filtro|add:letra %}
      <a href="{% url 'bibm:meus_livros' concat %}" class="opc-infla" title="Filtra livros iniciados em {{letra}}">
    {% endwith %}

  {% else  %}

    {% with concat=filtro|add:letra %}
      <a href="{% url 'bibm:editar_planejamento' concat %}" class="opc-infla" title="Filtra livros iniciados em {{letra}}">
    {% endwith %}

  {% endif %}

        {{letra}}
        
      </a>

{% endfor %}