{% for letra in ordem_alfabetica_lista %}

    {% with concat=filtro|add:letra  %}
      {% if filtro_letra == letra %}
        <span
          class="cor-azul" 
        >
          {{letra}}
        </span>
      {% else %}
        <a 
        {% if ordem %}
          href="{% url 'bibm:'|add:caller concat ordem %}" 
        {% else %}
          href="{% url 'bibm:'|add:caller concat %}" 
        {% endif %}
          id="btn_filtro_id"
          class="opc-infla" 
          title="Filtra livros iniciados em {{letra}}"
        >
          {{letra}}
        </a>
      {% endif %}
    {% endwith %}

{% endfor %}