{% if meus_livros.has_other_pages %}
<div class="decoracao-linha-filtros-acima"></div>
  <div class="pagination-box">
    {% for text,page,titulo in pagination_range %}
      <a 
        {% if page == current_page %}
          class="current-pagination-item"
          title="Página atual"
        {% else %}
          href="?page={{page}}"
          class="pagination-item" 
          title="{{titulo}}"
        {% endif %}
      >
        {{text}}
      </a>
    {% endfor %}
  </div>
<div class="decoracao-linha-filtros-abaixo"></div>
{% endif %}