{% extends "bibm/estru.html" %}
{% load static %}

{% block content %}

  <div class="autor-box">

    <span class="titulo-add-um-livro">Adicionar Autor</span>

    <form action="{% url "bibm:add_um_autor_livro_save" %}" method="post" class="autor-box-form">
        {% csrf_token %}

        {% if autor_id %}
        <input type="hidden" name="autor_id" value="{{autor_id}}">
        {% endif %}
        {% if filtro %}
        <input type="hidden" name="filtro" value="{{filtro}}">
        {% endif %}
        {% if ordem %}
        <input type="hidden" name="ordem" value="{{ordem}}">
        {% endif %}
        {% if caller %}
        <input type="hidden" name="caller" value="{{caller}}">
        {% endif %}

        {% comment %} PRIMEIRO NOME {% endcomment %}
        <label class="label-add-um-livro" for="prim_nome_field">Primeiros nomes:</label>
        <div class="input-container" id="prim_nome_field" autocomplete="off">
          {{form.prim_nome}}
        </div>

        {% comment %} ULTIMO NOME {% endcomment %}
        <label class="label-add-um-livro" for="ult_nome_field">Sobrenome:</label>
        <div class="input-container" id="ult_nome_field" autocomplete="off">
          {{form.ult_nome}}
        </div>

        {% comment %} <div class="div-dois-campos"> {% endcomment %}

          {% comment %} NACIONALIDADE {% endcomment %}
          {% comment %} <div class="campo-dois-campos">
            <label class="label-add-um-livro" for="nacionalidade_field">Nacionalidade:</label>
            <div class="input-container input-container-menor" id="nacionalidade_field">{{form.nacionalidade}}</div>
          </div> {% endcomment %}

          {% comment %} <div class="campo-dois-campos"> {% endcomment %}
            {% comment %} REGIÃO {% endcomment %}
            <label class="label-add-um-livro" for="regiao-input">Região:</label>
            <div class="input-container">
              {{form.regiao}}
              <input 
                type="text" 
                name="regiao_name" 
                id="regiao-input" 
                class="autor-input" 
                placeholder="Digite para buscar a região."
                autocomplete="off"
              >
              <span id="abrir-select-regiao" class="abrir-select">
                <img src="{% static 'bibm/img/sort-down-solid.svg' %}" alt="Seta para baixo" />
              </span>
            </div>
            <select name="regioes" id="regioes-opcoes" class="autores-opcoes" size="5">
              {% for regiao_id, regiao_nome in regioes %}
              <option class="opc-autor" value="{{regiao_id}}">{{regiao_nome}}</option>
              {% endfor %}
            </select>

            {% comment %} MENSAGEM REGIÃO {% endcomment %}
            <span class="mensagem-vermelha" id="mensagem-regiao"></span>

            {% comment %} BOTÃO ADICIONAR UMA REGIÃO {% endcomment %}
            <input type="hidden" name="caller_regiao" id="caller_regiao">
            <button type="submit" id="add_uma_regiao_livro" class="btn-pequeno btn-azul invisivel">Adicionar uma Região</button>

    {% comment %} </div> {% endcomment %}

        {% comment %} </div> {% endcomment %}

				<div class="caixa-texto-comentario-box">
					{{ form.comentario }}
				</div>

        <button class="btn-medio btn-azul" type="submit">Adicionar</button>
    </form>

  </div>

	{% if regiao_salva %}
	<input type="hidden" name="regiao_salva" id="regiao_salva" value="{{regiao_salva}}">
	{% endif %}
  
{% endblock content %}
