{% extends "bibm/estru.html" %}
{% load static %}

{% block content %}

  <div class="autor-box">
    
    {% if caller == "regioes_editar" %}
    <span class="titulo-add-um-livro">Editar Região</span>
    {% else %}
    <span class="titulo-add-um-livro">Adicionar Região</span>
    {% endif %}

    <form action="{% url "bibm:add_uma_regiao_livro_save" %}" method="post" class="autor-box-form">
        {% csrf_token %}

        {% if caller %}
          <input type="hidden" name="caller" value="{{caller}}">
        {% endif %}
        {% if autor_id %}
        <input type="hidden" name="autor_id" value="{{autor_id}}">
        {% endif %}
        {% if filtro %}
          <input type="hidden" name="filtro" value="{{filtro}}">
        {% endif %}
        {% if ordem %}
          <input type="hidden" name="ordem" value="{{ordem}}">
        {% endif %}
        {% if regiao_id %}
          <input type="hidden" name="regiao_id" value="{{regiao_id}}">
        {% endif %}

        <label class="label-add-um-livro" for="regiao_field">Nome da Região:</label>
        <div class="input-container" id="regiao_field">
          {{form.regiao}}
        </div>

				<div class="caixa-texto-comentario-box">
					{{ form.comentario }}
				</div>

        <button class="btn-medio btn-azul" type="submit">Adicionar</button>
    </form>

  </div>

{% endblock content %}
