{% extends "bibm/estru.html" %}
{% load static %}

{% block content %}
	<div class="autor-box">
		<span class="titulo-add-um-livro">Adicionar Um Livro</span>
			{% if editar_um_livro %}
			<form action="{% url "bibm:editar_um_livro_save" %}" method="post" class="autor-box-form">
				{% else %}
			<form action="{% url "bibm:add_um_livro" %}" method="post" class="autor-box-form">
			{% endif %}
			{% csrf_token %}
			<input type="hidden" name="livro_id" value="{{livro_id}}">
			{{form.planejamento}}
			
			{% comment %} AUTOR {% endcomment %}
			<label class="label-add-um-livro" for="autor-input">Autor:</label>
			<div class="input-container">
				{{form.autor}}
				<input
					type="text" 
					name="autor_name" 
					id="autor-input" 
					class="autor-input" 
					placeholder="Digite para buscar o autor."
					autocomplete="off"
				>
				<span id="abrir-select-autor" class="abrir-select">
					<img src="{% static 'bibm/img/sort-down-solid.svg' %}" alt="Seta para baixo" />
				</span>
			</div>
			<select name="autores" id="autores-opcoes" class="autores-opcoes" size="5">
				{% for autor_id, autor_nome in autores %}
				<option class="opc-autor" value="{{autor_id}}">{{autor_nome}}</option>
				{% endfor %}
			</select>

			{% comment %} BOTÃO ADICIONAR UM AUTOR {% endcomment %}
			<button type="submit" id="add_um_autor_livro" class="btn-pequeno btn-azul invisivel">Adicionar um Autor</button>

			{% comment %} TITULO {% endcomment %}
			<label class="label-add-um-livro" for="titulo">Título:</label>
			<div class="input-container" id="titulo">{{form.titulo}}</div>

			{% comment %} EDITORA {% endcomment %}
			<label class="label-add-um-livro" for="editora">Editora:</label>
			<div class="input-container" id="editora">{{form.editora}}</div>
			{% comment %} REGIÃO {% endcomment %}
			<label class="label-add-um-livro" for="regiao-input">Região:</label>
			<div class="input-container">
				{{form.regiao}}
				<input 
					type="text" 
					name="regiao_name" 
					id="regiao-input" 
					class="autor-input" 
					placeholder="Digite para buscar a região."
					autocomplete="off"
				>
				<span id="abrir-select-regiao" class="abrir-select">
					<img src="{% static 'bibm/img/sort-down-solid.svg' %}" alt="Seta para baixo" />
				</span>
			</div>
			<select name="regioes" id="regioes-opcoes" class="autores-opcoes" size="5">
				{% for regiao_id, regiao_nome in regioes %}
				<option class="opc-autor" value="{{regiao_id}}">{{regiao_nome}}</option>
				{% endfor %}
			</select>

			{% comment %} BOTÃO ADICIONAR UMA REGIÃO {% endcomment %}
			<button type="submit" id="add_uma_regiao_livro" class="btn-pequeno btn-azul invisivel">Adicionar uma Região</button>

			{% comment %} GENERO {% endcomment %}
			<div class="div-dois-campos">
				<div class="campo-dois-campos">
					<label class="label-add-um-livro" for="genero">Genero:</label>
					<div class="input-container input-container-menor">
						{{form.genero}}
						<input 
							type="text" 
							name="genero_name" 
							id="genero-input" 
							class="autor-input" 
							placeholder="Digite o gênero."
							autocomplete="off"
						>
						<span id="abrir-select-genero" class="abrir-select">
							<img src="{% static 'bibm/img/sort-down-solid.svg' %}" alt="Seta para baixo" />
						</span>
					</div>
					<select name="generos" id="generos-opcoes" class="autores-opcoes" size="5">
						{% for genero_id, genero_nome in generos %}
						<option class="opc-autor" value="{{genero_id}}">{{genero_nome}}</option>
						{% endfor %}
					</select>
					{% comment %} BOTÃO ADICIONAR UM GÊNERO {% endcomment %}
					<button type="submit" id="add_um_genero_livro" class="btn-pequeno btn-azul invisivel">Adicionar um Gênero</button>
				</div>
			{% comment %} TEMA {% endcomment %}
			<div class="campo-dois-campos">
					<label class="label-add-um-livro" for="tema">Tema:</label>
					<div class="input-container input-container-menor" id="tema">{{form.tema}}</div>
			</div>
			</div>
			{% comment %} LIDO LERIA-DE-NOVO{% endcomment %}
			<div class="div-dois-campos espaco-top-2rem">
				<div class="campo-dois-campos flex-flow-row texto-centralizado">
					<label class="label-add-um-livro" for="tema">Lido:</label>
					{{form.lido}}
				</div>
			</div>
			{% comment %} CLASSIFICAÇÃO E DATA DA LEITURA {% endcomment %}
			<div id="box-se-lido" class="div-dois-campos espaco-top-2rem espaco-bottom-2rem invisivel">
				<div class="campo-tres-campos flex-flow-row">
					<label class="label-add-um-livro" for="tema">Classificação:</label>
					{{form.classificacao}}
				</div>
				<div class="campo-tres-campos">
					<label class="label-add-um-livro" for="data_leitura">Data da leitura:</label>
					<div class="input-container input-container-menor texto-centralizado" id="data_leitura">{{form.data_leitura}}</div>
				</div>
				<div class="campo-tres-campos flex-flow-row">
					<label class="label-add-um-livro" for="tema">Leria de novo:</label>
					{{form.leria_de_novo}}
				</div>
			</div>
			{% comment %} ENDEREÇO {% endcomment %}
			<div class="div-dois-campos">
				<div class="campo-dois-campos">
					<label class="label-add-um-livro" for="endereco-input">Endereço:</label>
					<div class="input-container input-container-menor">
						{{form.endereco}}
						<input 
							type="text" 
							name="endereco_name" 
							id="endereco-input" 
							class="autor-input" 
							placeholder="Digite para buscar o endereco."
							autocomplete="off"
						>
						<span id="abrir-select-endereco" class="abrir-select">
							<img src="{% static 'bibm/img/sort-down-solid.svg' %}" alt="Seta para baixo" />
						</span>
					</div>
					<select name="enderecos" id="enderecos-opcoes" class="autores-opcoes" size="5">
						{% for endereco_id, endereco_nome in enderecos %}
						<option class="opc-autor" value="{{endereco_id}}">{{endereco_nome}}</option>
						{% endfor %}
					</select>
					{% comment %} BOTÃO ADICIONAR UM ENDEREÇO {% endcomment %}
					<button type="submit" id="add_um_endereco_livro" class="btn-pequeno btn-azul invisivel">Adicionar um Endereço</button>
				</div>
				<div class="campo-dois-campos">
					<label class="label-add-um-livro" for="data_compra">Data de compra:</label>
					<div class="input-container input-container-menor texto-centralizado" id="data_compra">{{form.data_compra}}</div>
				</div>
			</div>
			<button type="submit" class="btn-medio btn-azul espaco-top-bottom-4rem" id="btn_adicionar">Adicionar</button>
		</form>
	</div>
	{% if autor_salvo %}
	<input type="hidden" name="autor_salvo" id="autor_salvo" value="{{autor_salvo}}">
	{% endif %}
	{% if regiao_salva %}
	<input type="hidden" name="regiao_salva" id="regiao_salva" value="{{regiao_salva}}">
	{% endif %}
	{% if genero_salvo %}
	<input type="hidden" name="genero_salvo" id="genero_salvo" value="{{genero_salvo}}">
	{% endif %}
	{% if endereco_salvo %}
	<input type="hidden" name="endereco_salvo" id="endereco_salvo" value="{{endereco_salvo}}">
	{% endif %}
	
{% endblock content %}
