{% extends "bibm/estru.html" %}
{% load static %}

{% block content %}

  <div class="titulo-autores">
    <span class="titulo-grande-padrao">Autores</span>
    {% comment %} <div class="imagem-editar-autores"> {% endcomment %}
    <img 
    src="{% static 'bibm/img/pen-to-square-solid.svg' %}" 
    alt="Abrir modo edição"
    title="Abrir modo edição"
    class="modo-edicao-autores"
    id="modo-edicao-autores"
    >
    {% comment %} </div> {% endcomment %}
  </div>

  {% include "bibm/partials/autoresOrdem.html" %}

  <div class="autores-page-div">
    <div class="linha-vertical"></div>
    <div class="autores-block">

      {% if filtro != "regiao" %}
        {% include "bibm/partials/autoresDetail.html" %}
      {% else %}
        {% include "bibm/partials/autoresDetailRegiao.html" %}
      {% endif %}

      <form action="{% url "bibm:add_um_autor_livro" %}" method="get">
        <input type="hidden" name="caller" value="autores_add">
        <input type="hidden" name="filtro" value="{{filtro}}">
        <button type="submit" class="btn-pequeno btn-verde">Adicionar um autor</button>
      </form>

    </div>
  </div>

{% endblock content %}