{% extends 'bibm/estru.html' %}
{% load static %}

{% block content %}
  <div class="livro-atual vermelho-lendo caixa-vermelha-planejamento">
    <div class="planejamento-box">
      <span class="titulo-livro-atual">Seu planejamento de leitura:</span>

      {% for livro in livros_plan %}
        {% include "bibm/partials/livroPlanejamento.html" %}
      {% endfor %}
    </div>
  </div>
  <div class="meus-livros-box">
    <div class="container-search-box">
      <form action="{% url 'bibm:editar_planejamento' 'todos' ordem %}" class="search-form caixa-de-pesquisa">
        <input type="search" class="search-input" name="q" value="{{ search_term }}" />
        <button type="submit" class="search-button lupa"><img src="{% static 'bibm/img/magnifying-glass-solid.svg' %}" alt="Lupa" /></button>
      </form>
    </div>

    <div class="linha-filtros-historico-de-compras">
      {% include "bibm/partials/botoesFiltro.html" %}
      {% if ordens %}
      {% include "bibm/partials/ordemCresDecres.html" %}
      {% endif %}
    </div>

    {% if termo_pesquisado %}
      <span class="termo-pesquisado">Termo pesquisado: "{{ termo_pesquisado }}"</span>
    {% endif %}
    {% for livro in meus_livros %}
      {% include "bibm/partials/livroDetalheForm.html" %}
    {% empty %}
      Você não possui nenhum livro não lido.
    {% endfor %}
    {% include "bibm/partials/pagination.html" %}
  </div>
{% endblock %}
