{% extends 'bibm/estru.html' %}
{% load static %}

{% block content %}
  <div class="container-search-box-mapa">
    <form action="{% url 'bibm:mapa_da_bibli' %}" class="search-form-mapa caixa-de-pesquisa">
      <input type="search" class="search-input" name="q" value="{{ search_term }}" />
      <button type="submit" class="search-button lupa">
				<img src="{% static 'bibm/img/magnifying-glass-solid.svg' %}" alt="Lupa" />
		</button>
    </form>
  </div>
	<div class="container-mapa-box">
		{% for endereco, tupla in enderecos.items %}
		<div class="endereco-box">
			<div class="endereco-titulo-box">
				<span class="endereco-titulo">{{ endereco }}</span>
				<input type="hidden" name="endereco_id" id="endereco_id" value="{{tupla.0.0}}">
			</div>
			{% if tupla.0 %}
			<div class="endereco-descricao-box">
				<span class="endereco-descricao">{{ tupla.0.1 }}</span>
			</div>
			{% endif %}
			{% for livro_id, livro_titulo in tupla.1 %}
			<div class="endereco-livros" draggable="true">
				<input type="hidden" name="livro_id" id="livro_id" value="{{livro_id}}">
				<span class="endereco-livro-titulo btn-azul">{{ livro_titulo }}</span>
			</div>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
	<form id="form_enderecar" action="{% url 'bibm:enderecar_livro' %}" method="post" class="display: none;">
		{% csrf_token %}
		<input type="hidden" name="livro_id_form" id="livro_id_form">
		<input type="hidden" name="endereco_id_form" id="endereco_id_form">
	</form>
{% endblock %}
