{% extends 'bibm/estru.html' %}
{% load static %}

{% block content %}
  <div class="container-search-box">
    <form action="{% url 'bibm:meus_livros' 'todos' ordem %}" class="search-form caixa-de-pesquisa">
      <input type="search" class="search-input" name="q" value="{{ search_term }}" />
      <button type="submit" class="search-button lupa"><img src="{% static 'bibm/img/magnifying-glass-solid.svg' %}" alt="Lupa" /></button>
    </form>
  </div>
  <div class="linha-filtros-historico-de-compras">
    {% include "bibm/partials/botoesFiltro.html" %}
    {% if ordens %}
    {% include "bibm/partials/ordemCresDecres.html" %}
    {% endif %}
  </div>
  <div class="flex-flow-row">
  <div class="quantidade-livros">
  {{quantos_livros}} livros.
  </div>
  <form class="cursor-pointer" action="{% url "bibm:exportar_livros_excel" %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="caminho-aquivo" value="{{caminho_arquivo}}">
    <button class="cursor-pointer exportar-excel" type="submit"><u>Exportar Livros para Excel</u></button>
  </form>
  </div>
  <div class="meus-livros-box">
    {% for livro in meus_livros %}
      {% include "bibm/partials/livroDetalheForm.html" %}
    {% empty %}
      Nenhum livro
    {% endfor %}
    {% include "bibm/partials/pagination.html" %}
  </div>
{% endblock %}
