{% extends "bibm/estru.html" %}
{% load static %}

{% block content %}
  <div class="container-search-box">
    <form action="{% url 'bibm:minhas_anotacoes' 'lidos' %}" class="search-form caixa-de-pesquisa">
      <input type="search" class="search-input" name="q" value="{{ search_term }}" />
      <button type="submit" class="search-button lupa"><img src="{% static 'bibm/img/magnifying-glass-solid.svg' %}" alt="Lupa" /></button>
    </form>
  </div>

  {% include "bibm/partials/botoesFiltro.html" %}

  {% for anot_livro, anotacoes in anotacoes_livros %}
    
    <div class="anotacoes-livro-box">
      <div class="titulo-corpo-padrao">{{anot_livro.titulo}}</div>

      <div class="anotacoes-individuais-box">
        {% for anotacao in anotacoes %}
          <div class="anotacao-individual">
            <div class="anotacao-data">{{anotacao.data_inclusao}}</div>
            <div class="anotacao-anotacao">{{anotacao.anotacao}}</div>
          </div>
        {% empty %}
          Sem anotações.
        {% endfor %}
      </div>
    </div>
  
  {% empty %}
    Sem resultados
  {% endfor %}

{% endblock content %}