{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bibli da Martinha</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="{% static 'bibm/css/estilos.css' %}">
	<link rel="stylesheet" href="{% static 'bibm/css/searchBox.css' %}">
	<link rel="stylesheet" href="{% static 'bibm/css/addUmLivro.css' %}">
	<link rel="stylesheet" href="{% static 'bibm/css/livroDetalheForm.css' %}">
	<link rel="stylesheet" href="{% static 'bibm/css/anotacoes.css' %}">
	<link rel="stylesheet" href="{% static 'bibm/css/botoes.css' %}">
	<link rel="stylesheet" href="{% static 'bibm/css/mapaDaBibli.css' %}">
	<link rel="stylesheet" href="{% static 'bibm/css/anotacoesHistorico.css' %}">
	<link rel="stylesheet" href="{% static 'bibm/css/autores_regioes_generos.css' %}">
	{% if caller == "editar_planejamento" or caller == "meus_livros" %}
	<link rel="stylesheet" href="{% static 'bibm/css/pagination.css' %}">
	{% endif %}
	<link rel="stylesheet" href="{% static 'bibm/css/genericos.css' %}">
	<link rel="stylesheet" href="{% static 'bibm/css/media.css' %}">
</head>

<body>
		<aside class="madimi-one-regular main-bg section">
			<div class="maxwidth">
			<div class="container-titulo">
				<div class="titulo">
					<span class="nome-app">
						<a href="{% url 'bibm:home' %}">bibli da martinha</a>
					</span>
					<p class="comentario">amor, leitura e organização</p>
				</div>
			</div>
			
			{% include "bibm/partials/messages.html" %}

			{% block content %}
			{% endblock content %}
			
		</div>

		<div class="espaco-embaixo"></div>

		<footer class="rodape">
			<div class="frase-rodape-container">
				<p class="frase-rodape">"(...) cada começo é só continuação e o livro dos eventos está sempre aberto no meio."</p>
				<p class="autor-rodape">Wislawa Szymborska</p>
			</div>
		</footer>

	</aside>
	{% if add_um_livro %}
	<script src="{% static 'bibm/js/selecaoAutores.js' %}"></script>
	<script src="{% static 'bibm/js/selecaoGeneros.js' %}"></script>
	<script src="{% static 'bibm/js/selecaoEnderecos.js' %}"></script>
	<script src="{% static 'bibm/js/selecaoRegioes.js' %}"></script>
	<script src="{% static 'bibm/js/addUmLivro.js' %}"></script>
	{% endif %}
	{% if add_um_autor_livro %}
	<script src="{% static 'bibm/js/selecaoRegioes.js' %}"></script>
	{% endif %}
	{% if add_uma_regiao_livro or add_um_autor_livro or	add_um_genero_livro or add_um_endereco_livro %}
	<script src="{% static 'bibm/js/focoInicialGeral.js' %}"></script>
	{% endif %}
	{% if mapa_da_bibli %}
	<script src="{% static "bibm/js/mapaDaBibli.js" %}"></script>
	{% endif %}
	{% if caller == "autores" %}
	<script src="{% static "bibm/js/autores.js" %}"></script>
	{% endif %}
	{% if caller == "regioes" %}
	<script src="{% static "bibm/js/regioes.js" %}"></script>
	{% endif %}
	{% if caller == "generos" %}
	<script src="{% static "bibm/js/generos.js" %}"></script>
	{% endif %}
	{% if caller == "historico" %}
	<script src="{% static "bibm/js/historico.js" %}"></script>
	{% endif %}
	{% if caller == "editar_planejamento" %}
	<script src="{% static "bibm/js/editarPlanejamento.js" %}"></script>
	{% endif %}
	{% if add_um_endereco_livro or editar_endereco %}
	<script src="{% static "bibm/js/addUmEndereco.js" %}"></script>
	{% endif %}
</body>

</html>