.autor-box {
	position: relative;
	display: flex;
	flex-flow: column;
	width: calc(80vw);
	margin: 0 auto;
	text-align: center;
	place-items: center;
}

.autor-box-form {
	position: relative;
	display: flex;
	flex-flow: column;
	width: 80%;
	place-items: center;
}

.input-container {
    position: relative;
	display: flex;
	width: var(--recuo-padrao);
    border: 2px solid var(--cor-da-borda);
	min-width: 19.5rem;
    width: 80%;
    border-radius: 20px;
	background: rgba(255, 255, 255, .5);
}

.label-add-um-livro {
	margin: 1rem 0;
}

.autores-opcoes {
	display: none;
}

.abrir-select {
	position: absolute;
	right: 1rem;
	top: -0.3rem;
}

.abrir-select img {
	display: flex;
	width: 2rem;
	cursor: pointer;
}

.autores-opcoes {
	position: relative;
	width: inherit;
	margin: 0 auto;
	overflow: hidden;
	background: none;
	padding: 0 1rem;
	font-size: inherit;
	font-family: inherit;
}

.titulo-add-um-livro {
	position: relative;
	font-size: calc(2rem + 1.2vw);
	padding: 2rem 0;
}

.div-dois-campos {
	display: flex;
	flex-flow: row wrap;
	gap: 2rem;
	width: 80%;
}

.campo-dois-campos {
	display: flex;
	flex-flow: column;
	width: 100%;
	place-items: center;
	place-content: center;
}

.input-container-menor {
	width: 100%;
}