.form-anotacao-div {
    position: relative;
}
.form-anotacao {
	position: relative;
	height: fit-content;
}

.titulo-form {
    font-size: calc(1rem + 2vw);
    position: relative;
}

.caixa-texto-anotacao {
	display: flex;
	flex-flow: column;
	width: 40vw;
	align-content: left;
	transition: all 300ms ease-in-out;
	padding-bottom: 3rem;
}

.caixa-texto-anotacao:focus-within  {
	width: calc(80vw);
}

.caixa-texto-anotacao:focus-within textarea  {
	width: calc(80vw);
	height: 25vh;
}

.anotacao-field {
	width: 100%;
	height: 4rem;
	background: rgba(255, 255, 255, .3);
	border: solid 5px var(--cor-da-borda);
	transition: all 300ms ease-in-out;
}

.bloco-anotacoes {
	margin: 0 auto;
	text-align: left;
	position: relative;
	display: flex;
	flex-flow: column;
	width: var(--recuo-padrao);
	padding-bottom: 7rem;
}

.data-inclusao-anotacao {
	position: relative;
	display: flex;
	margin-left: 2rem;
	flex-flow: column nowrap;
	flex-grow: 1;
	flex-shrink: 1;
}

.data-inicial-anotacao {
	position: relative;
	display: flex;
	width: fit-content;
}

.titulo-anotacao-salva {
	position: relative;
	display: flex;
	background: var(--cor-do-titulo);
	width: fit-content;
	align-items: center;
}
