
.historico-box {
  display: flex;
  flex-flow: column;
  text-align: center;
  place-items: center;
}

.historico-div {
  display: flex;
  flex-flow: column;
  padding: 2rem;
  gap: 1rem;
  width: fit-content;
}

.linha-divisoria-box {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  place-items: center;
  justify-content: center;

}

.ldiv {
  content: "";
  display: flex;
  background-color: gray;
  height: 3px;
}

.linha-divisoria-esquerda {
  width: 20%;
	background: linear-gradient(to left,gray, rgba(128,128,128,0));
}

.linha-divisoria-meio {
  background-color: gray;
  width: 40%;
}

.linha-divisoria-direita {
  width: 20%;
	background: linear-gradient(to right,gray, rgba(128,128,128,0));
}

.titulo-livro-anotacoes {
	font-size: calc(1.8rem + 0.8vw);
}

.anotacoes-livro-box {
  padding: 4rem;
}

.anotacoes-individuais-box {
  display: flex;
  flex-flow: column;
}

.anotacao-individual {
  padding: 2rem;
}

.anotacao-data {
	font-size: calc(1.2rem + 0.4vw);
  padding-bottom: .5rem;
}

.anotacao-anotacao {
	white-space: pre-wrap;
}

.linha-filtros-historico-de-compras {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
}

.historico-de-compra-box {
  padding-top: 1rem;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
}

.historico-de-compra-block {
  width: fit-content;
  display: flex;
  flex-flow: column;
}

.anotacao-historico-box {
  display: flex;
  flex-flow: column;
  max-width: 50vw;
  margin: 0 auto;
  padding-top: 2rem;
}

.data-inicial-anotacao-historico {
  display: flex;
  font-size: calc(1.3rem + .3vw);
  color: black;
}

.conteudo-anotacao-salva-historico {
  display: flex;
  text-align: left;
  white-space: pre-wrap;
  text-wrap: wrap;
  font-size: calc(1.5rem + .3vw);
  width: 100%;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  color: rgba(73, 73, 73, 0.863);
}

.form-datas-historico {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.data-historico-container {
  width: 20%;
}

.form-datas-historico-form {
  display: flex;
  flex-flow: column;
}