.autores-block {
  display: flex;
  flex-flow: column;
  width: fit-content;
  margin: 0 auto;
  min-width: 30vw;
}

.autores-page-div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}

.linha-vertical {
  content: "";
  width: 2px;
  background: gray;
}

.ordenar-por {
  padding: .8rem;
  margin: 0 auto;
  width: fit-content;
}

.ordenar-por-box {
  display: flex;
  flex-flow: column;
  width: 70%;
  margin: 0 auto;
}

.titulo-regiao-autores {
  font-size: calc(2.2rem + .5vw);
  text-decoration-line: underline;
}

.autores-por-regiao {
  display: flex;
  flex-flow: column;
  padding-bottom: 1rem;
}

.titulo-autores {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: center;
  position: relative;
}

.modo-edicao-autores {
  position: absolute;
  right: 0;
  bottom: 5px;
  width: 3rem;
  cursor: pointer;
}

.autores-linha-autor {
  display: flex;
  flex-flow: row;
}

.autores-livros-box {
  display: flex;
  flex-flow: column;
  padding-bottom: 1rem;
}

.autores-titulo-livro {
  font-size: calc(1.4rem + .3vw);
  width: fit-content;
}

.autores-regiao-abaixo-nome {
  position: relative;
  top: -0.2rem;
  display: flex;
  text-decoration: underline;
  font-size: calc(1.25rem + .3vw);
	color: rgba(80, 110, 16, 0.836);
  width: fit-content;
}

.autores-comentario {
  position: relative;
  top: -0.4rem;
  font-size: calc(1.25rem + .3vw);
  color: rgba(0, 0, 0, 0.581);
  padding: 0 4rem;
	white-space: pre-wrap;
  width: calc(100vw / 4);
}
