:root {
	--vermelho: 21;
	--verde: 95;
	--azul: 95;
	--cor-do-titulo: rgba(var(--vermelho), var(--verde), var(--azul), 0.15);
	--cod-do-titulo-bottom: rgba(var(--vermelho), var(--verde), var(--azul), 0);
	--azul-livro-atual: #4a9e9771;
	--verde-livro-atual: #07691c71;
	--vermelho-livro-atual: #b1432771;
	--cor-da-borda: gray;
	--recuo-padrao: calc(80vw + 2rem);
    --color-primary: #269fe6;
    --color-white: #fff;
	--color-escrita-padrao: rgba(0, 0, 24, 0.85);
}


* {
	margin: 0;
	padding: 0;
	
}

@font-face {
	font-family: "Madimi One";
	src: url("../fonts/MadimiOne-Regular.ttf") format("truetype");
}

/* TAGS */

html {
	font-size: 62.5%;
}

body {
	font-size: calc(1.2rem + 0.7vw);
	overflow: hidden auto;
}

input[type="text"], textarea,
input[type="date"] {
	position: relative;
	outline: none;
	background: none;
	border: none;
	width: calc(100% - 4.5rem);
	height: inherit;
	font-family: inherit;
	/* font-size: inherit; */
	border-radius: none;
}

input[type="checkbox"] {
	inline-size: none;
	border: none;
}

button {
	position: inherit;
	border: none;
	font-family: inherit;
	background: none;
	color: inherit;
}

h1 {
	font-size: 8rem;
	text-transform: uppercase; 
	}
	
	h2 {
		font-size: 4rem;
}

a {
	text-decoration: none;
	color: inherit;
}

/* GENERICOS */

.main-bg {
	background-image: url("..\\img\\subtle-prism.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	padding: 0;
	margin: 0;
  }
  
  .madimi-one-regular {
	  font-family: "Madimi One", sans-serif;
	  font-weight: 400;
	  font-style: normal;
	  color: rgba(0, 0, 24, 0.85);
	  margin: 0;
	  padding: 0;
  }
  
  .maxwidth {
	padding: 0 5vw;
	margin: 0 auto;
	position: relative;
}

.section {
	min-height: 100vh;
	position:relative;
	padding: 0;
	margin: 0;
	
  }

  .invisivel {
	display: none;
}

.espaco-top-2rem {
	margin-top: 2rem;
}

.espaco-bottom-2rem {
	margin-bottom: 2rem;
}

.espaco-top-bottom-4rem {
	margin-top: 4rem;
	margin-bottom: 3rem;
}

.flex-flow-row {
	display: flex;
	flex-flow: row;
	gap: 1rem;
}

.texto-centralizado {
	display: flex;
	justify-content: center;
}
/* FIM GENERICOS */

/* BOTÕES */




/* FIM BOTÕES */

.container-titulo {
	position: relative;
	left: -5vw;
	width: 100vw;
}

.container-titulo::before {
	content: "";
	position: absolute; /* Posição absoluta em relação ao container */
	top: 0; /* Alinha o gradiente ao fundo da caixa */
	left: 0; /* Alinha o gradiente à esquerda da caixa */
	width: 100%; /* Garante que o gradiente ocupe toda a largura da caixa */
	height: 75%; /* Altura do gradiente, neste caso, metade da altura da caixa */
	background: var(--cor-do-titulo);
}

.container-titulo::after {
	content: "";
	position: absolute; /* Posição absoluta em relação ao container */
	top: 75%; /* Alinha o gradiente ao fundo da caixa */
	left: 0; /* Alinha o gradiente à esquerda da caixa */
	width: 100%; /* Garante que o gradiente ocupe toda a largura da caixa */
	height: 15%; /* Altura do gradiente, neste caso, metade da altura da caixa */
	background: linear-gradient(var(--cor-do-titulo), var(--cod-do-titulo-bottom));
}

.titulo {
	display: flexbox;
	margin: 0 auto;
	text-align: center;
	width: fit-content;
	position: relative;
}

.nome-app {
	font-size: calc(2rem + 6vw);
	text-transform: uppercase;
	position: inherit;
	top: -1rem;
}

.comentario {
	position: inherit;
	font-size: calc(.6rem + .6vw);
	text-transform: uppercase;
	top: calc(-1rem - 2vw);
	color: rgba(145, 104, 0, 0.842);
	text-align: right;
	margin-right: calc(.5rem + .5vw);
}

.livro-atual {
	padding: 1rem 0;
	position: relative;
	margin: 0 7vw;
	border: solid 4px rgba(38,42,25,0.9);
	border-radius: 10rem;
	font-size: calc(1.2rem + 0.5vw);
}

.azul-lendo {
	background: var(--azul-livro-atual);
}

.verde-lendo {
	background: var(--verde-livro-atual);
}

.vermelho-lendo {
	background: var(--vermelho-livro-atual);
}

.titulo-livro-atual {
	display: flex;
	flex-flow: row wrap;
	place-content: center;
	padding: 1rem 0;
}

.livro-lendo {
	display: flex;
	flex-flow: column;
	place-content: center;
	font-size: calc(1rem + 3vw);
	text-align: center;
	padding: 0 1.3rem;
}

.anotacoes {
	display: none;
}

.opcoes-livro-atual {
	display: flex;
	flex-flow: wrap;
	margin: 1rem 10vw;
}

.opc-livro-atual {
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
	flex-shrink: 1;
	place-items: center;
}

.form-devolver-sim {
	display: flex;
	margin-left: 1rem;
}

.pergunta-se-leu {
	display: flex;
	flex-flow: column;
	font-size: calc(.8rem + .5vw);
}

.sim-nao-devolver-box {
	display: flex;
	gap: 1rem;
	padding-top: .3rem;
	width: fit-content;
	height: fit-content;
	font-size: calc(1.2rem + 0.8vw);
	transition: all 300ms ease-in-out;
}

.sim-nao-devolver {
	padding: 0 .3rem;
	margin: 0 .2rem;
}

.opcoes-meumeu {
	padding-top: 1rem;
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
}

.meumeu-opc-coluna {
	display: flex;
	flex-flow: column;
}

.opc-meumeu {
	position: relative;
	text-align: center;
	padding: 1vh 0;
	transition: all 300ms ease-in-out;
}

.prim {
	text-align: center;
}

.opc-infla:hover {
	cursor: pointer;
	animation: infla 1.5s ease-in-out infinite;
}

@keyframes infla {
	0%, 100% {
		transform: scale(1);
		color: inherit;
	}
	50% {
		transform: scale(1.1);
		color: var(--color-primary);
	}
}

.espaco-embaixo{
	display: flex;
	position: relative;
	bottom: 0;
	padding-top: 7rem;
}

.rodape {
	display: flex;
	position: absolute;
	bottom: 0;
	width: 100vw;
	text-align: center;
	margin: 0;
	padding: 0;
	padding-top: 1.5rem;
}

.rodape::after {
	content: "";
	position: absolute; 
	bottom: 0;
	left: 0;
	width: 100%;
	height: 75%;
	background: var(--cor-do-titulo);
}

.rodape::before {
	content: "";
	position: absolute;
	bottom: 75%;
	left: 0;
	width: 100%;
	height: 15%;
	background: linear-gradient(var(--cod-do-titulo-bottom), var(--cor-do-titulo));
}

.frase-rodape-container {
	position: relative;
	margin: 0 auto;
	width: fit-content;
}

.frase-rodape {
	padding: 0 3vw;
}

.autor-rodape {
	position: inherit;
	text-align: right;
	padding: 0 3.5vw;
}

.decoracao-antes {
	background: linear-gradient(to right, var(--cod-do-titulo-bottom),var(--cor-do-titulo));
	width: 3rem;
}

.decoracao-depois {
	background: linear-gradient(to left, var(--cod-do-titulo-bottom),var(--cor-do-titulo));
	width: 3rem;
}

.conteudo-anotacao-salva {
	margin-bottom: 6rem;
	white-space: pre-wrap;
	font-size: 2rem;
}

.btn-editar {
	position: relative;
	margin-left: 2rem;
	width: 2.2rem;
	top: .2rem;
	cursor: pointer;
}

.btn-excluir {
	position: relative;
	width: 1.7rem;
	margin-left: 2rem;
	top: .2rem;
	cursor: pointer;
}

.meus-livros-box {
	width: var(--recuo-padrao);
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-flow: column;
}

.meus-livros-abaixo-titulo-box {
	margin-left: calc(.5rem + .5vw);
	display: flex;
	flex-direction: column;
}

.livro-lendo-plan {
	display: flex;
	width: fit-content;
	justify-content: left;
	font-size: calc(1rem + 1.2vw);
	text-align: left;
}

.planejamento-box {
	display: flex;
	flex-flow: column;
	width: fit-content;
	max-width: 95%;
	margin: 0 auto;
	justify-content: left;
}

.plan-box {
	position: relative;
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	padding: 1rem 0;
}

.plan-box-esquerda {
	display: flex;
	flex-flow: column;
	width: fit-content;
	justify-content: left;
	align-content: left;
}

.opcoes-planejamento {
	display: flex;
	flex-flow: wrap;
	justify-content: left;
}

.opc-plan-box {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	place-items: center;
	margin: 0 calc(.3rem + .3vw);
}

.btn-livros-box {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	margin: 0 calc(.3rem + .3vw);
}

.btn-livros-vermelho {
	border: .2rem solid var(--cor-da-borda);
	width: fit-content;
	border-radius: 1rem;
	font-size: calc(.8rem + .8vw);
	transition: all 300ms ease-in-out;
	padding: .09rem .4rem;
}
/* 
.opc-plan-subir {
	position: relative;
	display: flex;
} */

.opc-plan-subir-vazia {
	width: 100%;
	height: 2.5rem;
	transition: all 300ms ease-in-out;
	padding: 0 .5rem;
	padding-bottom: .8rem;
	margin: .1rem .1rem;
}

.caixa-vermelha-planejamento {
	margin-bottom: 4rem;
}

.container-search-box {
	margin: 0 auto;
	margin-bottom: 2rem;
	width: var(--recuo-padrao);
}

.container-search-box-mapa {
	margin: 0 auto;
	margin-bottom: 2rem;
	width: fit-content;
	display: flex;
	justify-content: center;
}

.search-form {
    border: 2px solid var(--cor-da-borda);
	min-width: 19.5rem;
    width: 20vw;
    border-radius: 20px;
    position: relative;
    transition: all 300ms ease-in-out;
}

.search-form:focus-within {
    border-color: var(--color-primary);
    background: rgba(255, 255, 255, .3);
	width: 60vw;
}

.search-form-mapa {
    border: 2px solid var(--cor-da-borda);
	min-width: 19.5rem;
    width: 20vw;
    border-radius: 20px;
    position: relative;
    transition: all 300ms ease-in-out;
}

.caixa-de-pesquisa:focus-within {
    border-color: var(--color-primary);
    background: rgba(255, 255, 255, .3);
}

.search-input,
.search-button {
    border: none;
    background: none;
    outline: none;
    padding: 1rem;
    transition: all 300ms ease-in-out;
	font-family: inherit;
}

.search-button img {
	width: 2rem;
}

.search-button {
    position: absolute;
    top: -.2rem;
    right: 0;
}

.search-button:focus {
    outline: 2px solid var(--color-primary);
    background: rgba(0, 0, 0, 5%);
}

.search-input {
    width: 100%;
    padding-right: 3rem;
}

.message {
	padding-bottom: .5rem;
	text-align: center;
}

.message-error {
    border: 1px solid var(--color-error-dark);
    background: var(--color-error-light);
    color: var(--color-error-dark);
}

.message-success {
    border: 1px solid var(--color-success-dark);
    background: var(--color-success-light);
    color: var(--color-success-dark);
}

.message-warning {
    border: 1px solid var(--color-warning-dark);
    background: var(--color-warning-light);
    color: var(--color-warning-dark);
}

.message-info {
    color: darkblue;
}

.message-debug {
    border: 1px solid var(--color-debug-dark);
    background: var(--color-debug-light);
    color: var(--color-debug-dark);
}

.endereco {
	position: relative;
	font-size: calc(1.2rem + 0.5vw);
}

.container-mapa-box {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	width: var(--recuo-padrao);
	margin: 0 auto;
	justify-content: center;
}

.endereco-box {
	position: relative;
	display: flex;
	flex-flow: column;
	text-align: center;
	padding: 2rem;
	width: 40%;
}

.endereco-titulo {
	font-size: calc(1.8rem + 1vw);
}

.endereco-livro-titulo {
	display: flex;
	place-content: center;
}

.endereco-descricao-box{
	display: flex;
	position: relative;
	justify-content: center;
	top: -.8rem;
}

.endereco-descricao {
	font-size: calc(1rem + .5vw);
	color: rgba(50, 50, 50, .5);
}

.add-livro-autor-box {
	margin: 0 auto;
	margin-bottom: 2rem;
	width: fit-content;
	display: flex;
	justify-content: center;
}

.search-form-add-livro-autor {
    border: 2px solid var(--cor-da-borda);
	min-width: 19.5rem;
    width: 40vw;
    border-radius: 20px;
    position: relative;
    transition: all 300ms ease-in-out;
}

.form-classificacao {
	display: flex;
	flex-flow: row;
	justify-content: center;
}

.botoes-filtro-box {
	margin: 0 3rem;
	margin-bottom: 1rem;
	display: flex;
	flex-flow: column;
	padding-bottom: 1rem;
	width: fit-content;
}

.filtros-linha {
	display: flex;
	flex-flow: row wrap;
	gap: 2rem;
	padding-bottom: 1rem;
	width: inherit;
	height: fit-content;
}

.decoracao-linha-filtros-abaixo {
	background: linear-gradient(rgba(20, 20, 20, 0.4), rgba(20, 20, 20, 0));
	content: "";
	height: 0.5rem;
}

.decoracao-linha-filtros-acima {
	background: linear-gradient(rgba(20, 20, 20, 0), rgba(20, 20, 20, 0.4));
	content: "";
	height: 0.5rem;
}

.termo-pesquisado {
	font-size: calc(1rem + 0.5vw);
	padding: 1rem 1rem;
}
